@include attribute(link) {
    color: $link-font-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @include modifier(black) {
        color: $link-font-color-black;
    }

    @include modifier(gray) {
        color: $link-font-color-gray;
    }

    @include modifier(white) {
        color: $link-font-color-white;
    }
}


