@function attribute-selector($attr, $size: null) {
    /**
     *
     */
    $selector: null;
    @if $size {
        $selector: '[' + $attr + '\\@' + $size + ']';
    } @else {
        $selector: '[' + $attr + ']';
    }
    @return $selector;
}

@function modifier-selector($parent, $modifiers, $post: '') {
    /**
     *
     */
    // & is a list of lists so we call nth twice
    $parent: str-slice(nth(nth($parent, 1), 1), 2, -2);
    $selectors: ();

    @each $modifier in $modifiers {
        $selectors: append($selectors, '[' + $parent + '~="' + $modifier + '"]' + $post, 'comma')
    }

    @return $selectors;


}
