@import "variables";

[u-base] {
    background-color: $base-bg-color;
    color: $base-font-color;
    font-size: 14px;
    line-height: $base-line-height;
    font-family: ProximaNovaRegular;
    -webkit-font-smoothing: antialiased;
}

b,
strong,
[u-bold],
[u-strong] {
    font-family: ProximaNovaBold;
    font-weight: normal;
}

small,
[u-small] {
    font-size: .85em;
}
