[u-base] {
    b,
    strong,
    [u-bold],
    [u-strong] {
        font-size: $font-size-base;
        font-family: ProximaNovaBold;
        font-weight: normal;
    }

    small,
    [u-small] {
        font-size:  $font-size-small;
    }
}
