@import "variables";

[u-core] {
    b,
    strong,
    [u-bold],
    [u-strong] {
        font-family: ProximaNovaBold, monospace;
        font-weight: normal;
    }

    small,
    [u-small] {
        font-size: $font-size-small;
    }
}
