@import '../config/variables';

@function insert-before($haystack, $needle, $insert) {
    /**
     *
     */
    $str: null;
    $idx: str-index($haystack, $needle);
    @if ($idx) {
        $before: str-slice($haystack, 1, $idx - 1);
        $after: str-slice($haystack, $idx);
        $str: $before + $insert + $after;
    } @else {
        $str: $haystack + $insert;
    }
    @return $str;
}

@function parent-function($names, $size: null) {
    /**
     *
     */
    $selectors: ();
    @each $name in $names {
        $selector: '.' + $name;
        @if $size {
            $selector: $selector + '\\@' + $size;
        }
        $selectors: append($selectors, $selector, 'comma')
    }
    @return $selectors;
}

@function child-function($amp, $names) {
    /**
     *
     */
    $selectors: ();
    $amp: selector-parse($amp);
    @each $list in $amp {
        @each $str in $list {
            @each $name in $names {
                $selector: insert-before($str, '\\@', '\\.' + $name);
                $selectors: append($selectors, $selector, 'comma');
            }
        }
    }
    @return $selectors;
}

@function modifier-function($amp, $names) {
    /**
     *
     */
    $selectors: ();
    $amp: selector-parse($amp);
    @each $list in $amp {
        @each $str in $list {
            @each $name in $names {
                $selector: insert-before($str, '\\@', '\\:' + $name);
                $selectors: append($selectors, $selector, 'comma');
            }
        }
    }
    @return $selectors;
}


