$base-font-color: #474444;
$heading-font-color: #2d2d2d;
$link-font-color: #0095cf;
$link-font-color-alt: #474444;
$light-font-color: #939598;

html {
    color: $base-font-color;
    font-size: 14px;
    line-height: 1.5;
    font-family: ProximaNovaRegular;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-font-color;
    font-family: ProximaNovaExtrabold;
    font-weight: normal;
    line-height: 1.2;
}

/*
 * HEADINGS
 */

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .85em;
}

/*
 * LINKS
 */

a {
    color: $link-font-color;
    text-decoration: none;
}

a.alt {
    color: $link-font-color-alt;
}

a:hover {
    text-decoration: underline;
}

/*
 * MISC TAGS
 */

b,
strong {
    font-family: ProximaNovaBold;
}

small {
    color: $light-font-color;
    font-size: .85em;
}

em {
    font-size: 1.2em;
    color: $light-font-color;
}

p.lite {
    color: $light-font-color;
}
