// text colors

.sb\.color {

    &\:blue {
        color: $color--blue;
    }

    &\:green {
        color: $color--green;
    }

    &\:white {
        color: $color--white;
    }

    &\:gray-light,
    &\:grey-light {
        color: $color--gray-light;
    }
}

// background colors

.sb\.bg {
    &\:black {
        background-color: $color--black;
    }

    &\:gray-dark,
    &\:grey-dark {
        background-color: $color--gray-dark;
    }

    &\:gray-dark-alt,
    &\:grey-dark-alt {
        background-color: $color--gray-dark-alt;
    }
}