.sb\.icon {

    &\:logo {
        width: 128px;
        height: 27px;
    }

    &\:app {
        width: 2.25rem;
        height: 2.25rem;
    }

    &\:badge {
        width: 1rem;
        height: 1.3125rem;
    }

}