// text

$text--color:               $color--default;
$text--font-family:         ProximaNovaRegular, Arial, sans-serif;
$text--font-size--default:  0.875rem;

// headings

$heading--font-family:      ProximaNovaExtrabold, Arial, sans-serif;
$heading--font-weight:      normal;
$heading--line-height:      1.2;
$heading--font-size--h1:    4rem;
$heading--font-size--h2:    3rem;
$heading--font-size--h3:    2.25rem;
$heading--font-size--h4:    1.5rem;
$heading--font-size--h5:    1.125rem;
$heading--font-size--h6:    1rem;

// buttons

$button--font-family:       ProximaNovaExtrabold, Arial, sans-serif;
$button--size--default:  (font-size: .875rem,
                         line-height: 2);
$button--color--default:    (
                                dormant: (
                                    border:     $color--blue,
                                    background: $color--blue,
                                    text:       $color--white,
                                ),
                                hover: (
                                    border:     $color--blue--dark,
                                    background: $color--blue--dark,
                                    text:       $color--white,
                                ),
                            );
$button--colors--options:   (
                                alt: (
                                    dormant: (
                                        border:     $color--blue,
                                        background: $color--white,
                                        text:       $color--blue,
                                    ),
                                    hover: (
                                        border:     $color--blue--dark,
                                        background: $color--white,
                                        text:       $color--blue--dark,
                                    ),
                                )
                           ) !default;

//
//$button--colors--default:  (border: $color--blue,
//                            background: $color--white,
//                            text: $color#373a3c);
//
//$button--colors--default:  (border: #373a3c,
//                            background: #000,
//                            text: #373a3c);
//$button--colors--options:  ();
