// fonts

$font--external:    (ProximaNovaRegular:    '../font/ProximaNovaRegular',
                     ProximaNovaExtrabold:  '../font/ProximaNovaExtrabold');

// paths

$path--img:     '../img/';

// text

$text--color:               #2d2d2d;
$text--font-family:         ProximaNovaRegular, Arial, sans-serif;
$text--font-size--default:  0.875rem;

// colors

$color--default:        #2d2d2d;
$color--black:          #000000;
$color--white:          #ffffff;
$color--blue:           #03a2d6;
$color--blue--light:    #40a7ca;
$color--blue--dark:     #027fbb;
$color--green:          #43d220;
$color--gray:           #939498;
$color--gray-light:     #c5c5c7;
$color--gray-dark:      #2d323a;
$color--gray-dark-alt:    #383c44;


//$color--gray--footer:   #2c3338;
//$color--gray--hero:     #2f2f2f;
//$color--gray--social:   #494a4e;
//$color--gray--s:        #c5c5c7 !default;