/*
 * home-hero
 */

.home-hero {
    background-color: var(--color--gray-dark);
}

/*
 * home-hero__main
 */

.home-hero__main__screenshot {
    height: 248px;
}


.home-hero__main__desc {
    height: 3rem;
}

.home-hero__main__desc::after {
    height: 1.5rem;
    background: linear-gradient(to right, transparent, var(--color--gray-dark));
}

/*
 * home-hero__others
 */

.home-hero__others {
    margin-top: 44px;
}

.home-hero__others__app {
    padding: 12px;
    border-radius: .125rem;
    width: 190px;
}

.home-hero__others__app--active {
    background-color: var(--color--gray-darker);
}

.home-hero__others__title {
    height: calc(var(--font-size--sm) * var(--line-height--default) * 2);
}

.home-hero__others__title::after {
    height: calc(var(--font-size--sm) * var(--line-height--default));
    background: linear-gradient(to right, transparent, var(--color--gray-dark));
}

.home-hero__others__app--active .home-hero__others__title::after {
    background: linear-gradient(to right, transparent, var(--color--gray-darker));
}

/* home-pitch */

.home-pitch {
    background-color: var(--color--gray-blue);
    text-align: center;
}

/* home-dev */

.home-dev {
    background-color: var(--color--gray-blue-light);
}

.home-dev__submit {
    background-color: var(--color--gray-blue-dark);
}

/* category-card */

.category-card {
    border: 1px solid var(--color--gray-light);
    text-align: center;
}

/* category-card */

.home-apps-tech {
    background-color: var(--color--gray-light);
}

.app-card {
    border: 1px solid var(--color--gray);
    background-color: white;
}

.app-card__title {
    height: calc(var(--font-size--heading-6) * var(--line-height--heading) * 2);
}

.app-card__title::after {
    height: calc(var(--font-size--heading-6) * var(--line-height--heading));
    background: linear-gradient(to right, transparent, var(--color--white));
}