@import "variables";

[u-btn] {
    cursor: pointer;
    border: 1px solid $btn-border-color-green;
    background-color: $btn-bg-color-green;
    color: $btn-font-color-green;
    line-height: 1;
    display: inline-block;
    font-size: .857em;
    outline: none;
    padding: 10px 25px;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: ProximaNovaBold;
    transition: $btn-transition;

    &:hover {
        text-decoration: none;
        color: $btn-font-color-green-hover;
        border-color: $btn-border-color-green-hover;
        background-color: $btn-bg-color-green-hover;
    }

    &[u-btn~='no-hover']:hover {
        color: $btn-font-color-green;
        border-color: $btn-border-color-green;
        background-color: $btn-bg-color-green;
    }

    &:focus {
        color: $btn-font-color-green;
    }

    &:disabled {
        cursor: not-allowed;
        color: $btn-font-color-green-disabled;
        border-color: $btn-border-color-green-disabled;
        background-color: $btn-bg-color-green-disabled;
    }

    & option {
        color: $base-font-color;
        background-color: #fff;
    }
}

[u-btn~='blue'] {
    color:$btn-font-color-blue;
    border-color: $btn-border-color-blue;
    background-color: $btn-bg-color-blue;

    &:hover {
        color: $btn-font-color-blue-hover;
        border-color: $btn-border-color-blue-hover;
        background-color: $btn-bg-color-blue-hover;
    }

    &[u-btn~='no-hover']:hover {
        color: $btn-font-color-blue;
        border-color: $btn-border-color-blue;
        background-color: $btn-bg-color-blue;
    }

    &:focus {
        color: $btn-font-color-blue;
    }

    &:disabled {
        color: $btn-font-color-blue-disabled;
        border-color: $btn-border-color-blue-disabled;
        background-color: $btn-bg-color-blue-disabled;
    }
}

[u-btn~='white'] {
    color: $btn-font-color-white;
    border-color: $btn-border-color-white;
    background-color: $btn-bg-color-white;

    &:hover {
        color: $btn-font-color-white-hover;
        border-color: $btn-border-color-white-hover;
        background-color: $btn-bg-color-white-hover;
    }

    &[u-btn~='no-hover']:hover {
        color: $btn-font-color-white;
        border-color: $btn-border-color-white;
        background-color: $btn-bg-color-white;
    }

    &:focus {
        color: $btn-font-color-white;
    }

    &:disabled {
        color: $btn-font-color-white-disabled;
        border-color: $btn-border-color-white-disabled;
        background-color: $btn-bg-color-white-disabled;
    }
}

[u-btn~='red'] {
    color: $btn-font-color-red;
    border-color: $btn-border-color-red;
    background-color: $btn-bg-color-red;

    &:hover {
        color: $btn-font-color-red-hover;
        border-color: $btn-border-color-red-hover;
        background-color: $btn-bg-color-red-hover;
    }

    &[u-btn~='no-hover']:hover {
        color: $btn-font-color-red;
        border-color: $btn-border-color-red;
        background-color: $btn-bg-color-red;
    }

    &:disabled {
        color: $btn-font-color-red-disabled;
        border-color: $btn-border-color-red-disabled;
        background-color: $btn-bg-color-red-disabled;
    }
}

[u-btn~='xs'],
[u-btn~='xsmall'] {
    padding: 6px 10px;
    text-transform: none;
    font-family: ProximaNovaRegular;
    border: none;
}

[u-btn~='sm'],
[u-btn~='small'] {
    padding: 6px 10px;
    text-transform: none;
}

[u-btn~='lg'],
[u-btn~='large'] {
    padding: 12px 23px;
    font-size: 1em;
}

[u-btn~='stretch'] {
    width: 100%;
    text-align: center;
    display: block;
    padding-right: 0;
    padding-left: 0;
}
