@import "variables";

@mixin font-face($font-family, $file-path) {
    @font-face {
        font-family: $font-family;
        src: url('#{$font-path}#{$file-path}.woff2') format('woff2'),
             url('#{$font-path}#{$file-path}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

@include font-face('ProximaNovaExtraBold', 'proximanova/extrabold/proximanova-extrabold');
@include font-face('ProximaNovaRegular', 'proximanova/regular/proximanova-regular');
@include font-face('ProximaNovaBold', 'proximanova/bold/proximanova-bold');
@include font-face('unity', 'unity/unity');
