@import "variables";

[container] {
    @at-root #{&}__element {

    }

    @at-root #{&}--modifier {

    }
}

[container] {

}

[container__item] {

}

[]

[u-container] {
    padding: 20px;
    background: $container-bg-color-white;
    border: $container-border;

    & + [u-container] {
        margin-top: 20px;
    }
}

[u-container~='gray'],
[u-container~='grey'] {
    background: $container-bg-color-gray;
}

[u-container~='dropzone'] {
    background: $container-bg-color-dropzone;
    border: $container-border-dropzone;
    transition: $container-transition;

    &.hover {
        border: $container-border-dropzone-hover;
    }
}