@import "variables";
[u-core] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    [u-heading] {
        color: $color-heading;
        line-height: $line-height-heading;
        font-weight: normal;
    }

    h1,
    [u-heading~='1'] {
        font-size: $font-size-heading1;
        font-family: ProximaNovaExtrabold, monospace;
    }

    h2,
    [u-heading~='2'] {
        font-size: $font-size-heading2;
        font-family: ProximaNovaExtrabold, monospace;
    }

    h3,
    [u-heading~='3'] {
        font-size: $font-size-heading3;
        font-family: ProximaNovaExtrabold, monospace;
    }

    h4,
    [u-heading~='4'] {
        font-size: $font-size-heading4;
        font-family: ProximaNovaExtrabold, monospace;
        text-transform: uppercase;
    }

    h5,
    [u-heading~='5'] {
        font-size: $font-size-heading5;
        font-family: ProximaNovaBold, monospace;
    }

    h6,
    [u-heading~='6'] {
        font-size: $font-size-heading6;
        font-family: ProximaNovaBold, monospace;
        text-transform: uppercase;
    }

    [u-heading~='white'] {
        color: $color-heading-white;
    }

    [u-heading~='gray'],
    [u-heading~='grey'] {
        color: $color-heading-gray;
    }
}
