@import "variables";

[u-core] {

    a,
    [u-link] {
        font-size: $font-size-base;
        color: $link-font-color;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    [u-link~='no-underline']:hover {
        text-decoration: none;
    }

    [u-link~='black'] {
        color: $link-font-color-black;
    }

    [u-link~='gray'],
    [u-link~='grey'] {
        color: $link-font-color-gray;
    }

    [u-link~='white'] {
        color: $link-font-color-white;
    }
}
