// u.icon

[class*="u.icon"] {
    display: block;
    width: $icon--size--default;
    height: $icon--size--default;
    max-width: 100%;
    max-height: 100%;
}

.u\.icon {

    // size

    @each $icon-key, $icon-size in $icon--size--options {
        &\:#{$icon-key} {
            width: #{$icon-size};
            height: #{$icon-size};
        }
    }
}
