// text

$text--color:               hsl(0, 0%, 15%) !default;
$text--font-family:         "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$text--line-height:         1.5 !default;
$text--font-size--default:  1rem !default;
$text--font-size--options:  (sm: .75rem,
                            lg: 1.5rem) !default;

// headings

$heading--font-family:      inherit !default;
$heading--font-weight:      500 !default;
$heading--line-height:      1.25 !default;
$heading--font-size--h1:    4rem !default;
$heading--font-size--h2:    3rem !default;
$heading--font-size--h3:    2.5rem !default;
$heading--font-size--h4:    2rem !default;
$heading--font-size--h5:    1.5rem !default;
$heading--font-size--h6:    1rem !default;

// breakpoints (768, 992, 1200)

$breakpoints:  ('\\*':      'all',
                'sm':       '(max-width: 48rem)',
                'md-down':  '(max-width: 62rem)',
                'md':       '(min-width: 48rem) and (max-width: 62rem)',
                'md-up':    '(min-width: 48rem)',
                'lg-down':  '(max-width: 75rem)',
                'lg':       '(min-width: 62rem) and (max-width: 75rem)',
                'lg-up':    '(min-width: 62rem)',
                'xl':       '(min-width: 75rem)') !default;

// grid

$grid--max-width:           75rem !default;
$grid--gutter--default:     1rem !default;
$grid--gutter--options:    (xs: .25rem,
                            sm: .5rem,
                            lg: 2rem) !default;
$grid--padding:            (md: 1rem,
                            lg: 2rem) !default;
$grid--widths:             ('1\\/12':  8.333%,
                            '2\\/12':  16.666%,
                            '3\\/12':  25%,
                            '4\\/12':  33.333%,
                            '5\\/12':  41.666%,
                            '6\\/12':  50%,
                            '7\\/12':  58.33%,
                            '8\\/12':  66.66%,
                            '9\\/12':  75%,
                            '10\\/12': 83.33%,
                            '11\\/12': 91.66%,
                            '1\\/5':   20%,
                            '2\\/5':   40%,
                            '3\\/5':   60%,
                            '4\\/5':   80%,
                            '1\\/1':   100%) !default;
