@import "unity/util/mixins";
@import "unity/util/functions";
@import "unity/config/variables";

$container: '.container';
$container-item: '.container\\.item';

.container {
    display: block;
}

@mixin resp($mixin, $selector) {
    display: none;
}

@mixin hidden {
    display: none;
}

.container\:hide {
    @include hidden;
}



//@each $size, $mq in $breakpoints {
//
//    @media ()
//    .container\:gutter-1\@#{size} {
//        padding: 1px;
//
//        & > .container\.item\:width-100 {
//            width: 100%;
//        }
//    }
//}


//@include responsive()

//.container\.item {
//    display: inline;
//}
//
//.container\.item\:hide {
//    display: none;
//}