/*
 * u.container
 */

[class*='u.container'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

/* flex-wrap */

.u\.container\:nowrap {
    flex-wrap: nowrap;
}

/* max-width */

.u\.container\:cap {
    max-width: var(--max-width);
    padding: var(--padding--md);
}

/* justify-content */

.u\.container\:left {
    justify-content: flex-start;
}

.u\.container\:right {
    justify-content: flex-end;
}

.u\.container\:center {
    justify-content: center;
}

.u\.container\:repel {
    justify-content: space-between;
}

.u\.container\:even {
    justify-content: space-around;
}

/* justify-content */

.u\.container\:top {
    align-items: flex-start;
}

.u\.container\:bottom {
    align-items: flex-end;
}

.u\.container\:middle {
    align-items: center;
}

.u\.container\:baseline {
    align-items: baseline;
}

.u\.container\:tall {
    align-items: stretch;
}

/*
 * u.item
 */

/* flex-shrink */

.u\.item\:shrink {
    flex-shrink: 1;
}

.u\.item\:noshrink {
    flex-shrink: 0;
}


/* width */

.u\.item\:10 {
    width: 10%;
}

.u\.item\:20 {
    width: 20%;
}

.u\.item\:25 {
    width: 25%;
}

.u\.item\:30 {
    width: 30%;
}

.u\.item\:33 {
    width: 33%;
}

.u\.item\:40 {
    width: 40%;
}

.u\.item\:45 {
    width: 45%;
}

.u\.item\:50 {
    width: 50%;
}

.u\.item\:60 {
    width: 60%;
}

.u\.item\:66 {
    width: 66%;
}

.u\.item\:75 {
    width: 75%;
}

.u\.item\:70 {
    width: 70%;
}

.u\.item\:80 {
    width: 80%;
}

.u\.item\:85 {
    width: 85%;
}

.u\.item\:90 {
    width: 90%;
}

.u\.item\:100 {
    width: 100%;
}

@media(--sm) {
    .u\.item\:100\@sm {
        width: 100%;
    }
}

/* align-self */

/*.u\.item\:top {*/
    /*align-self: flex-start;*/
/*}*/

/*.u\.item\:bottom {*/
    /*align-self: flex-end;*/
/*}*/

/*.u\.item\:middle {*/
    /*align-self: center;*/
/*}*/

/*.u\.item\:baseline {*/
    /*align-self: baseline;*/
/*}*/

/*.u\.item\:tall {*/
    /*align-self: stretch;*/
/*}*/

.u\.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

.u\.row {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

/* gutter */

.u\.row\:gutter-16 > .u\.col {
    padding-right: 16px;
}

.u\.row\:gutter-16 > .u\.col:last-child {
    padding-right: 0;
}

/* */

.u\.row\:repel {
    justify-content: space-between;
}
.u\.row\:center {
    justify-content: center;
}

.u\.col {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: hidden;
}
.u\.col\:cap {
    max-width: var(--max-width);
}

.u\.col\:1\/6,
.u\.col\:2\/12 {
    width: 16.66666%;
}

.u\.col\:4\/12 {
    width: 33.33%;
}

.u\.col\:1\/2,
.u\.col\:6\/12 {
    width: 50%;
}

.u\.col\:1\/2,
.u\.col\:6\/12 {
    width: 50%;
}

.u\.col\:1\/7 {
    width: 14.286%;
}


@media(--sm) {
    .u\.col\:1\/2\@sm {
        width: 50%;
    }

   .u\.col\:12\/12\@sm {
        width: 100%;
    }

   .u\.col\:swipe\@sm {
       overflow-x: scroll;
   }

    @include headers();

    @each $key, $val in $responsive--breakpoints {
        @media #{$val} {
            @include headers($key);
        }
    }

}


