*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* input */

input {
    color: currentColor;
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: currentColor;
}