/* defaults */

body {
    color: var(--color--default);
    font: var(--font-size--default)/var(--line-height--default) var(--font-family--default);
}

/* links */

a {
    color: var(--color--blue);
    text-decoration: none;
}

a:hover,
.u\.txt:link {

}

/* heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family--heading);
    line-height: var(--line-height--heading);
    font-weight: normal;
}

h1,
.u\.txt\:h1 {
    font-size: var(--font-size--heading-1);
}

h2,
.u\.txt\:h2 {
    font-size: var(--font-size--heading-2);
}

h3,
.u\.txt\:h3 {
    font-size: var(--font-size--heading-3);
}

h4,
.u\.txt\:h4 {
    font-size: var(--font-size--heading-4);
}

h5,
.u\.txt\:h5 {
    font-size: var(--font-size--heading-5);
}

h6,
.u\.txt\:h6 {
    font-size: var(--font-size--heading-6);
}

/* pill */

.u\.txt\:pill {
    border: 1px solid;
    border-radius: 15px;
    padding: 0 8px;
}

/* color */

.u\.txt\:white {
    color: var(--color--white);
}

.u\.txt\:gray,
.u\.txt\:grey {
    color: var(--color--gray);
}

.u\.txt\:gray-light,
.u\.txt\:grey-light {
    color: var(--color--gray-light);
}

.u\.txt\:gray-other {
    color: #b6b6b6;
}

.u\.txt\:blue {
    color: var(--color--blue);
}

/* font-size */

.u\.txt\:sm {
    font-size: var(--font-size--sm);
}

.u\.txt\:lg {
    font-size: var(--font-size--lg);
}

/* fade multiline text out */

.u\.txt\:fade {
    position: relative;
    overflow: hidden;
    /* height: [font-size] * [line-height] * [line-count]; */
}


.u\.txt\:fade::after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    /* height: [font-size] * [line-height] */
    /* background: linear-gradient(to right, transparent, [background-color]); */
}

/*
 * u.divider
 */

[class*="u.divider"] {
    width: 100%;
    height: 1px;
    background-color: var(--color--default);
}

.u\.divider\:gray-light,
.u\.divider\:grey-light {
    background-color: var(--color--gray-light);
}
/* text-align */

.u\.txt\:center {
    text-align: center;
}

.u\.txt\:right {
    text-align: right;
}