// configuration

$config-path-svg: '../svg/';

// breakpoints

$breakpoint-keys: (xs,    sm,    md,    lg,    xl);
$breakpoint-vals: (34rem, 48rem, 64rem, 80rem);

// container

$container-width-cap:       80rem;
$container-gutters:         (1: 1rem, 2: 2rem);
$container-color-default:   #ffffff;
$container-color-black:     #000000;
$container-color-gray:      #8d8d8d;
$container-color-blue:      #2d3239;
$container-color-blue:      #2d3239;

// font

$font-path: '../font/';
$font-list: (ProximaNovaRegular, ProximaNovaBold, ProximaNovaExtrabold);

// text

$text-line-height:      1.5;
$text-font-size:        0.875em;
$text-font-size-small:  0.75em;
$text-color:            #474444;

$text-font-family:      ProximaNovaRegular, Arial, sans-serif;
$text-font-family-bold: ProximaNovaBold, Arial, sans-serif;

// heading

$heading-font-size-1:      3em;
$heading-font-size-2:      2em;
$heading-font-size-3:      1.5em;
$heading-font-size-4:      0.875em;
$heading-font-size-5:      0.875em;
$heading-font-size-6:      0.75em;

$heading-line-height:       2;

$heading-color:             #2d2d2d;
$heading-color-gray:        #939498;
$heading-color-white:       #ffffff;

$heading-font-family-1:    ProximaNovaExtrabold, Arial, sans-serif;
$heading-font-family-2:    ProximaNovaExtrabold, Arial, sans-serif;
$heading-font-family-3:    ProximaNovaExtrabold, Arial, sans-serif;
$heading-font-family-4:    ProximaNovaExtrabold, Arial, sans-serif;
$heading-font-family-5:    ProximaNovaBold, Arial, sans-serif;
$heading-font-family-6:    ProximaNovaBold, Arial, sans-serif;

// links

$link-font-color:       #03a2d6;
$link-font-color-gray:  #939498;
$link-font-color-black: #474444;
$link-font-color-white: #ffffff;

// divider

$divider-border-color: #eeeeee;
$divider-border-color-dark: #d6d6d6;

/* OLD */

// Inputs

$input-bg-color: #fff;
$input-font-color: #c5c6c8;
$input-font-color-hover: #939498;
$input-font-color-selected: #03a2d6;
$input-font-color-disabled: #939498;

// Buttons

$btn-transition: all .2s;

$btn-font-color-green: #fff;
$btn-font-color-green-hover: #fff;
$btn-font-color-green-disabled: #fff;
$btn-bg-color-green: #43d220;
$btn-bg-color-green-hover: #2eb50b;
$btn-bg-color-green-disabled: #b5edaa;
$btn-border-color-green: #2eb50b;
$btn-border-color-green-hover: #2eb50b;
$btn-border-color-green-disabled: #b3eaa8;

$btn-font-color-blue: #fff;
$btn-font-color-blue-hover: #fff;
$btn-font-color-blue-disabled: #fff;
$btn-bg-color-blue: #03a2d6;
$btn-bg-color-blue-hover: #027fbb;
$btn-bg-color-blue-disabled: #a2daf0;
$btn-border-color-blue: #027fbb;
$btn-border-color-blue-hover: #027fbb;
$btn-border-color-blue-disabled: #a0cce4;

$btn-font-color-white: #474444;
$btn-font-color-white-hover: #474444;
$btn-font-color-white-disabled: #b4b2b2;
$btn-bg-color-white: #f9f9f9;
$btn-bg-color-white-hover: #f9f9f9;
$btn-bg-color-white-disabled: #fcfcfc;
$btn-border-color-white: #c5c6c8;
$btn-border-color-white-hover: #939498;
$btn-border-color-white-disabled: #e8e8e8;

$btn-font-color-red: #fff;
$btn-font-color-red-hover: #fff;
$btn-font-color-red-disabled: #fff;
$btn-bg-color-red: #d93d33;
$btn-bg-color-red-hover: #a4231a;
$btn-bg-color-red-disabled: #f0b2af;
$btn-border-color-red: #a4231a;
$btn-border-color-red-hover: #a4231a;
$btn-border-color-red-disabled: #dba7a5;

// Containers

$container-transition: all .2s ease-in-out;
$container-border: 1px solid #d6d6d6;
$container-border-dropzone: 1px dashed #d6d6d6;
$container-border-dropzone-hover: 1px dashed #939498;
$container-bg-color-white: #ffffff;
$container-bg-color-gray: #eeeeee;
$container-bg-color-dropzone: #f9f9f9;
