@import '../config/variables';

@function parent($name) {
    /**
     *
     */
    @return '.' + $name;
}


@function child($parent, $name) {
    /**
     *
     */
    @return $parent + '\\.' + $name;
}

@function modifier($parent, $child, $modifiers...) {
    /**
     *
     */
    $selectors: ();
    @each $modifier in $modifiers {
        $selector: $parent + '\\:' + $modifier;
        $selectors: append($selectors, $selector, 'comma');
    }
    @return $selectors;
}


