/* variables */
:root {
    --default-font-family:  ProximaNovaRegular, Arial, sans-serif;
    --default-font-size:    0.875rem;
    --default-line-height:  1.5;
    --default-font-color:   #474444;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    color: var(--default-font-color);
}
