@font-face {
    font-family: ProximaNovaRegular;
    src: url('../ProximaNovaRegular.woff2') format('woff2'),
         url('../ProximaNovaRegular.woff.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('../ProximaNovaBold.woff2') format('woff2'),
         url('../ProximaNovaBold.woff.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNovaExtrabold;
    src: url('../ProximaNovaExtrabold.woff2') format('woff2'),
         url('../ProximaNovaExtrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
